.Rproj.user
.Rhistory
.RData
.Ruserdata
.log
# pdf files
coursematerial/*.pdf
# html output
lesson01/*/*.html
lesson02/*/*.html
lesson03/*/*.html
lesson03/*/*.tex
lesson03/*/*.nav
lesson03/*/*.snm
lesson03/*/*.gz
lesson03/*/*.toc
lesson03/*/*.vrb
lesson03/*/*.nav
lesson04/*/*.html
# datasets
lesson01/data/MORTGAGE15US.csv
# Assignment Solutions
lesson01/assignment/assignment01_sol.Rmd
lesson02/assignment/assignment02_sol.Rmd
lesson03/assignment/assignment03_sol.Rmd
lesson04/assignment/assignment04_sol.Rmd
lesson04/assignment/project04_sol.Rmd
FRED.key